# Company Tear Sheet - financial data estraction 17 May

In [2]:
# Import module and set up with App Key
import eikon as ek
ek.set_app_key('DEFAULT_CODE_BOOK_APP_KEY')
import pandas as pd 
import numpy as np

In [20]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS','ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K','0388.HK','DB1GnEUR.xbo' ,'MKTX.O']
result_list = []

for RIC in RICs:
    # Request Header Information for RIC
    df, err = ek.get_data(RIC, "TR.CommonName(),TR.HeadquartersCountry,TR.TRBCIndustryGroup,TR.GICSSector,TR.CompanyMarketCap.Currency")
    # Request Exchange for Primary Quote RIC
    df_2, err = ek.get_data(RIC, "TR.PrimaryQuote")
    df_3, err = ek.get_data(df_2.at[0, 'Primary Quote RIC'], "TR.ExchangeName")
    df['Exchange Name'] = [df_3.at[0, 'Exchange Name']]
    df['Company'] = [RIC]  # Add a new column with the company RIC
    result_list.append(df)

# Concatenate the data frames in the result_list into a single DataFrame
companies_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
companies_df

,Instrument,Company Common Name,Country of Headquarters,TRBC Industry Group Name,GICS Sector Name,Currency,Exchange Name,Company
0,LSEG.L,London Stock Exchange Group PLC,United Kingdom,Investment Banking & Investment Services,Financials,GBP,LONDON STOCK EXCHANGE,LSEG.L
1,MCO,Moody's Corp,United States of America,Professional & Commercial Services,Financials,USD,"NEW YORK STOCK EXCHANGE, INC.",MCO
2,MORN.O,Morningstar Inc,United States of America,Professional & Commercial Services,Financials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),MORN.O
3,SPGI.K,S&P Global Inc,United States of America,Professional & Commercial Services,Financials,USD,"NEW YORK STOCK EXCHANGE, INC.",SPGI.K
4,MSCI.K,MSCI Inc,United States of America,Professional & Commercial Services,Financials,USD,"NEW YORK STOCK EXCHANGE, INC.",MSCI.K
5,VRSK.O,Verisk Analytics Inc,United States of America,Software & IT Services,Industrials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),VRSK.O
6,FDS,Factset Research Systems Inc,United States of America,Professional & Commercial Services,Financials,USD,"NEW YORK STOCK EXCHANGE, INC.",FDS
7,ICE,Intercontinental Exchange Inc,United States of America,Investment Banking & Investment Services,Financials,USD,"NEW YORK STOCK EXCHANGE, INC.",ICE
8,NDAQ.O,Nasdaq Inc,United States of America,Investment Banking & Investment Services,Financials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),NDAQ.O
9,EEFT.O,Euronet Worldwide Inc,United States of America,Professional & Commercial Services,Financials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),EEFT.O
10,CME.O,CME Group Inc,United States of America,Investment Banking & Investment Services,Financials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),CME.O
11,CBOE.K,Cboe Global Markets Inc,United States of America,Investment Banking & Investment Services,Financials,USD,CBOE BZX U.S. EQUITIES EXCHANGE,CBOE.K
12,0388.HK,Hong Kong Exchanges and Clearing Ltd,Hong Kong,Investment Banking & Investment Services,Financials,HKD,HONG KONG EXCHANGES AND CLEARING LTD,0388.HK
13,DB1GnEUR.xbo,Deutsche Boerse AG,Germany,Investment Banking & Investment Services,Financials,EUR,XETRA,DB1GnEUR.xbo
14,MKTX.O,Marketaxess Holdings Inc,United States of America,Investment Banking & Investment Services,Financials,USD,NASDAQ/NGS (GLOBAL SELECT MARKET),MKTX.O

In [42]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS', 'ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K', '0388.HK', 'DB1GnEUR.xbo', 'MKTX.O']
result_list = []

for RIC in RICs:
    # Additional data retrieval and calculations
    dfGen, err = ek.get_data(RIC, 'TR.PriceClose;TR.Price52WeekHigh;TR.PricePctChg52WkHigh;TR.Price52WeekLow;TR.PricePctChg52WkLow;TR.PriceTargetMedian',{'Scale':6, "SDate": 0, "EDate": -20, "FRQ": "FQ", 'Curn': 'GBP'})
    dfGen2, err = ek.get_data(RIC, 'TR.BetaFiveYear;TR.DividendYield;TR.SharesOutstanding;TR.FreeFloat;TR.FreeFloatPct();TR.CompanyMarketCap;TR.EV',{'Scale':6, "SDate": 0, "EDate": -20, "FRQ": "FQ", 'Curn': 'GBP'})
    dfGen['Implied Profit'] = (dfGen.at[0,'Price Target - Median'] / dfGen.at[0,'Price Close'] - 1) * 100

    # Concatenate the tables into a single DataFrame
    combined_df = pd.concat([dfGen, dfGen2], axis=1)

    # Add a 'Company' column with the company RIC
    result_list.append(combined_df)

# Concatenate the data frames in the result_list into a single DataFrame
general_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
general_df

,Instrument,Price Close,Price 52 Week High,52-week High Price PCT Change,Price 52 Week Low,52-week Low Price PCT Change,Price Target - Median,Implied Profit,Instrument,Beta 5 Year,Dividend yield,Outstanding Shares,Free Float,Free Float (Percent),Company Market Cap,Enterprise Value (Daily Time Series)
0,LSEG.L,0.000079,86.12,-1.625639,67.1,26.259314,92.1,1.170563e+08,LSEG.L,0.485932,1.373211,553.518998,358.412657,71.3409,43550.874763,51061.874763
1,LSEG.L,0.000071,<NA>,<NA>,<NA>,<NA>,95.0,1.170563e+08,LSEG.L,<NA>,1.344171,554.44668,328.970526,65.3598,39565.315085,47306.315085
2,LSEG.L,0.000076,<NA>,<NA>,<NA>,<NA>,92.55,1.170563e+08,LSEG.L,<NA>,1.187797,555.407611,329.580366,65.3562,42366.492567,50107.492567
3,LSEG.L,0.000076,<NA>,<NA>,<NA>,<NA>,89.45,1.170563e+08,LSEG.L,<NA>,1.200101,558.244024,332.383378,65.5434,42605.183912,50188.183912
4,LSEG.L,0.00008,<NA>,<NA>,<NA>,<NA>,87.95,1.170563e+08,LSEG.L,<NA>,1.062327,558.147304,332.294803,65.5384,44462.014237,52045.014237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,MKTX.O,0.000189,<NA>,<NA>,<NA>,<NA>,184.107625,8.848677e+07,MKTX.O,<NA>,0.949853,37.669211,36.285353,96.3263,7113.521308,6924.493806
311,MKTX.O,0.000166,<NA>,<NA>,<NA>,<NA>,160.1103,8.848677e+07,MKTX.O,<NA>,0.801259,37.592599,36.221656,96.3532,6226.901359,6062.219929
312,MKTX.O,0.000137,<NA>,<NA>,<NA>,<NA>,155.28,8.848677e+07,MKTX.O,<NA>,0.867007,37.57097,36.206076,96.3672,5147.424052,5016.408893
313,MKTX.O,0.00015,<NA>,<NA>,<NA>,<NA>,159.2472,8.848677e+07,MKTX.O,<NA>,0.845794,37.606455,36.23348,96.3491,5633.96052,5515.714039
314,MKTX.O,0.000155,<NA>,<NA>,<NA>,<NA>,151.48323,8.848677e+07,MKTX.O,<NA>,<NA>,37.629246,36.624237,97.3292,5838.094311,5718.926482

In [24]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS', 'ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K', '0388.HK', 'DB1GnEUR.xbo', 'MKTX.O']
result_list = []

for RIC in RICs:
    # Request Header Information for RIC
    dfRec, err = ek.get_data(RIC, 'TR.RecLabel();TR.NumOfRecommendations();TR.NumEstRevisingUp;TR.NumEstRevisingDown',{'WP':'30d','EstimateMeasure':'EPS'})
    # Append the DataFrame to the result_list
    result_list.append(dfRec)

# Concatenate the data frames in the result_list into a single DataFrame
recommendation_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
recommendation_df

,Instrument,Recommendation - Mean Label,Recommendation - Number Of Total,Number of Analysts Revising Up,Number of Analysts Revising Down
0,LSEG.L,BUY,17,6,6
1,MCO,BUY,22,18,0
2,MORN.O,HOLD,1,0,1
3,SPGI.K,BUY,22,16,2
4,MSCI.K,BUY,17,8,7
5,VRSK.O,BUY,18,16,0
6,FDS,HOLD,20,1,0
7,ICE,BUY,15,6,6
8,NDAQ.O,BUY,18,7,6
9,EEFT.O,BUY,11,5,1
10,CME.O,BUY,18,10,4
11,CBOE.K,BUY,16,2,8
12,0388.HK,BUY,29,15,3
13,DB1GnEUR.xbo,BUY,22,12,7
14,MKTX.O,HOLD,12,3,8

## estimate s?? -- fyo fy1 fy2

In [17]:
#Retrieve Estimates into Data Frames per Period

#FY0
dfFY0, err = ek.get_data(RIC, 'TR.RevenueActValue;TR.EBITDAActValue;TR.EPSActValue',
                       {'Period':'FY0', 'Scale':'6', 'Curn':df.at[0,'Currency']})
#FY1
dfFY1, err = ek.get_data(RIC, 
'TR.RevenueMeanEstimate;TR.RevenueHigh;TR.RevenueLow;TR.EBITDAMean;TR.EBITDAHigh;TR.EBITDALow;TR.EPSMeanEstimate;TR.EPSHigh;TR.EPSLow',
                       {'Period':'FY1', 'scale':'6', 'curn':df.at[0,'Currency']})
dfFY1_2, err = ek.get_data(RIC, 
                           'TR.RevenueMeanEstimate; TR.EBITDAMean; TR.EPSMeanEstimate',
    {'Period':'FY1','RollPeriods':'false','Scale': 6,'Curn':df.at[0,'Currency'],'SDate':'-1AM'})
#FY2
dfFY2, err = ek.get_data(RIC, 
'TR.RevenueMeanEstimate;TR.RevenueHigh;TR.RevenueLow;TR.EBITDAMean;TR.EBITDAHigh;TR.EBITDALow;TR.EPSMeanEstimate;TR.EPSHigh;TR.EPSLow',
                       {'Period':'FY2', 'scale':'6', 'curn':df.at[0,'Currency']})
dfFY2_2, err = ek.get_data(RIC, 'TR.RevenueMeanEstimate;TR.EBITDAMean;TR.EPSMeanEstimate',
    {'Period':'FY2','RollPeriods':'false','Scale': 6,'Curn':df.at[0,'Currency'],'SDate':'-1AM'})

In [12]:
#Create a dictionary out of results, and structure a single multi-row Data Frame

# initialise results per column 
data = {'Sales (MIL) Mean EST':
        [dfFY0.at[0,'Revenue - Actual'], dfFY1.at[0,'Revenue - Mean Estimate'],'',dfFY2.at[0,'Revenue - Mean Estimate'],''],
       'High Est':
       ['',dfFY1.at[0,'Revenue - High'],(dfFY1.at[0,'Revenue - High']/dfFY1.at[0,'Revenue - Mean Estimate']-1)*100,
        dfFY2.at[0,'Revenue - High'],(dfFY2.at[0,'Revenue - High']/dfFY2.at[0,'Revenue - Mean Estimate']-1)*100],
       'Low Est':
       ['',dfFY1.at[0,'Revenue - Low'],(dfFY1.at[0,'Revenue - Low']/dfFY1.at[0,'Revenue - Mean Estimate']-1)*100,
        dfFY2.at[0,'Revenue - Low'],(dfFY2.at[0,'Revenue - Low']/dfFY2.at[0,'Revenue - Mean Estimate']-1)*100],
       'Est. 30 30 Days Ago':
       ['',dfFY1_2.at[0,'Revenue - Mean Estimate'],(dfFY1_2.at[0,'Revenue - Mean Estimate']/dfFY1.at[0,'Revenue - Mean Estimate']-1)*100,
        dfFY2_2.at[0,'Revenue - Mean Estimate'],(dfFY2_2.at[0,'Revenue - Mean Estimate']/dfFY2.at[0,'Revenue - Mean Estimate']-1)*100],
       'EBITDA (MIL) Mean Est.':
        [dfFY0.at[0,'EBITDA - Actual'],dfFY1.at[0,'EBITDA - Mean'],'',dfFY2.at[0,'EBITDA - Mean'],''],
        'High Est.':
        ['',dfFY1.at[0,'EBITDA - High'],(dfFY1.at[0,'EBITDA - High']/dfFY1.at[0,'EBITDA - Mean']-1)*100,
         dfFY2.at[0,'EBITDA - High'],(dfFY2.at[0,'EBITDA - High']/dfFY2.at[0,'EBITDA - Mean']-1)*100],
        'Low Est.':
        ['',dfFY1.at[0,'EBITDA - Low'],(dfFY1.at[0,'EBITDA - Low']/dfFY1.at[0,'EBITDA - Mean']-1)*100,
         dfFY2.at[0,'EBITDA - Low'],(dfFY2.at[0,'EBITDA - Low']/dfFY2.at[0,'EBITDA - Mean']-1)*100],
        'Est. 30 30 Days Ago.':
       ['',dfFY1_2.at[0,'EBITDA - Mean'],(dfFY1_2.at[0,'EBITDA - Mean']/dfFY1.at[0,'EBITDA - Mean']-1)*100,
        dfFY2_2.at[0,'EBITDA - Mean'],(dfFY2_2.at[0,'EBITDA - Mean']/dfFY2.at[0,'EBITDA - Mean']-1)*100],
        'EPS Mean Est.':
        [dfFY0.at[0,'Earnings Per Share - Actual'], dfFY1.at[0,'Earnings Per Share - Mean Estimate'],'',
         dfFY2.at[0,'Earnings Per Share - Mean Estimate'],''],
        'High Est..':
         ['',dfFY1.at[0,'Earnings Per Share - High'],(dfFY1.at[0,'Earnings Per Share - High']/dfFY1.at[0,'Earnings Per Share - Mean Estimate']-1)*100,
        dfFY2.at[0,'Earnings Per Share - High'],(dfFY2.at[0,'Earnings Per Share - High']/dfFY2.at[0,'Earnings Per Share - Mean Estimate']-1)*100],
        'Low Est..':
         ['',dfFY1.at[0,'Earnings Per Share - Low'],(dfFY1.at[0,'Earnings Per Share - Low']/dfFY1.at[0,'Earnings Per Share - Mean Estimate']-1)*100,
        dfFY2.at[0,'Earnings Per Share - Low'],(dfFY2.at[0,'Earnings Per Share - Low']/dfFY2.at[0,'Earnings Per Share - Mean Estimate']-1)*100],
        'Est. 30 30 Days Ago..':
        ['',dfFY1_2.at[0,'Earnings Per Share - Mean Estimate'],(dfFY1_2.at[0,'Earnings Per Share - Mean Estimate']/dfFY1.at[0,'Earnings Per Share - Mean Estimate']-1)*100,
        dfFY2_2.at[0,'Earnings Per Share - Mean Estimate'],(dfFY2_2.at[0,'Earnings Per Share - Mean Estimate']/dfFY2.at[0,'Earnings Per Share - Mean Estimate']-1)*100]
       }  
  
# Create Pandas DataFrame. 
dfEstimates = pd.DataFrame(data, index =['FY0 (Actual)','FY1 (Current Year)', '% above/below mean','FY2 (Next Year)','% above/below mean' ]) 
                                             
dfEstimates

,Sales (MIL) Mean EST,High Est,Low Est,Est. 30 30 Days Ago,EBITDA (MIL) Mean Est.,High Est.,Low Est.,Est. 30 30 Days Ago.,EPS Mean Est.,High Est..,Low Est..,Est. 30 30 Days Ago..
FY0 (Actual),7428,,,,3550,,,,3.161,,,
FY1 (Current Year),8050.33533,8288.2,7902.275,8061.42886,3871.06527,3934.4,3802.626,3870.58133,3.432724,3.548,3.3048,3.431839
% above/below mean,,2.954718,-1.839182,0.137802,,1.636106,-1.76797,-0.012501,,3.358152,-3.7266,-0.025773
FY2 (Next Year),8539.53722,8730.32,8409.683,8566.93129,4211.23427,4313.38,4043,4222.3344,3.85547,4.124,3.6404,3.865928
% above/below mean,,2.234111,-1.520624,0.320791,,2.425553,-3.994892,0.263584,,6.96491,-5.578308,0.271264

## Valuation Metrics

In [33]:
# Retrieve Valuation Ratios into DataFrames per period

dfLTM, err  = ek.get_data(RIC,'TR.PE;TR.PriceToSalesPerShare;TR.EVToSales;TR.EVToEBITDA',{'Sdate':'0D'})
dfFY1, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst',{'Period':'FY1'})
dfFY1_2, err= ek.get_data(RIC,'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean',{'Period':'FY1','Curn':'GBP'})
dfFY2, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst',{'Period':'FY2'})
dfFY2_2, err= ek.get_data(RIC,'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean',{'Period':'FY2','Curn':'GBP'})
###DEBUG display(dfLTM,dfFY1,dfFY1_2,dfFY2, dfFY2_2)

#Create a dictionary out of results, and structure a single multi-row Data Frame

# Initialise results per column 
dataDict = {'P/E':
        [dfLTM.at[0,'P/E (Daily Time Series Ratio)'], dfFY1.at[0,'Price / EPS (Mean Estimate)'], dfFY2.at[0,'Price / EPS (Mean Estimate)']],
            'P/SALES':
        [dfLTM.at[0,'Price To Sales Per Share (Daily Time Series Ratio)'], dfFY1.at[0,'Price / Revenue (Mean Estimate)'], dfFY2.at[0,'Price / Revenue (Mean Estimate)']],
            'EV/REVS':
                [dfLTM.at[0,'Enterprise Value To Sales (Daily Time Series Ratio)'], 
                 dfFY1_2.at[0,'Enterprise Value (Daily Time Series)']/dfFY1_2.at[0,'Revenue - Mean Estimate'], 
                 dfFY2_2.at[0,'Enterprise Value (Daily Time Series)']/dfFY2_2.at[0,'Revenue - Mean Estimate']],
            
            'EV/EBITDA':
                [dfLTM.at[0,'Enterprise Value To EBITDA (Daily Time Series Ratio)'], 
                 dfFY1_2.at[0,'Enterprise Value (Daily Time Series)']/dfFY1_2.at[0,'EBITDA - Mean'], 
                 dfFY2_2.at[0,'Enterprise Value (Daily Time Series)']/dfFY2_2.at[0,'EBITDA - Mean']]
}

#Create Pandas DataFrame. 
dfMultiRow = pd.DataFrame(dataDict, index =['LTM (Last Twelve Months)','FY1 (Current Year)', 'FY2 (Next Year)']) 
dfMultiRow

                                P/E    P/SALES    EV/REVS  EV/EBITDA
LTM (Last Twelve Months)  42.300291  14.929198  14.476690  26.826349
FY1 (Current Year)        38.617630  13.766648  13.442353  24.545167
FY2 (Next Year)           33.552249  12.275550  11.986381  21.598126

In [37]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS']
result_list = []

for RIC in RICs:
    # Retrieve Valuation Ratios into DataFrames per period
    dfLTM, err = ek.get_data(RIC, 'TR.PE;TR.PriceToSalesPerShare;TR.EVToSales;TR.EVToEBITDA', {'Sdate':'0D'})
    dfFY1, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst', {'Period':'FY1'})
    dfFY1_2, err = ek.get_data(RIC, 'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean', {'Period':'FY1', 'Curn':'GBP'})
    dfFY2, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst', {'Period':'FY2'})
    dfFY2_2, err = ek.get_data(RIC, 'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean', {'Period':'FY2', 'Curn':'GBP'})

    # Create a dictionary out of results
    dataDict = {
        'P/E': [
            dfLTM.at[0, 'P/E (Daily Time Series Ratio)'],
            dfFY1.at[0, 'Price / EPS (Mean Estimate)'],
            dfFY2.at[0, 'Price / EPS (Mean Estimate)']
        ],
        'P/SALES': [
            dfLTM.at[0, 'Price To Sales Per Share (Daily Time Series Ratio)'],
            dfFY1.at[0, 'Price / Revenue (Mean Estimate)'],
            dfFY2.at[0, 'Price / Revenue (Mean Estimate)']
        ],
        'EV/REVS': [
            dfLTM.at[0, 'Enterprise Value To Sales (Daily Time Series Ratio)'],
            dfFY1_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY1_2.at[0, 'Revenue - Mean Estimate'],
            dfFY2_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY2_2.at[0, 'Revenue - Mean Estimate']
        ],
        'EV/EBITDA': [
            dfLTM.at[0, 'Enterprise Value To EBITDA (Daily Time Series Ratio)'],
            dfFY1_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY1_2.at[0, 'EBITDA - Mean'],
            dfFY2_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY2_2.at[0, 'EBITDA - Mean']
        ]
    }

    # Create Pandas DataFrame for the current RIC
    dfMultiRow = pd.DataFrame(dataDict, index=['LTM (Last Twelve Months)', 'FY1 (Current Year)', 'FY2 (Next Year)'])
    dfMultiRow['Company'] = RIC  # Add a 'Company' column with the company RIC

    result_list.append(dfMultiRow)

# Concatenate the data frames in the result_list into a single DataFrame
result_df = pd.concat(result_list)

# Print the final DataFrame
result_df

                                 P/E    P/SALES    EV/REVS  EV/EBITDA Company
LTM (Last Twelve Months)   60.137140   6.043804   7.013841  15.255105  LSEG.L
FY1 (Current Year)         24.680109   5.813071   6.746076  14.029258  LSEG.L
FY2 (Next Year)            21.973975   5.480060   6.359616  12.896023  LSEG.L
LTM (Last Twelve Months)   39.748088  10.416064  11.419019  27.486847     MCO
FY1 (Current Year)         31.193117   9.600732  10.560514  23.498646     MCO
FY2 (Next Year)            27.458423   8.698480   9.568064  20.356332     MCO
LTM (Last Twelve Months)  494.864997   4.320948   4.715022  20.736238  MORN.O
FY1 (Current Year)         40.137787   4.082297   4.510241  21.935196  MORN.O
FY2 (Next Year)            32.285474   3.718093   4.107858  18.257154  MORN.O
LTM (Last Twelve Months)   42.219598   9.627221  10.778422  21.711262  SPGI.K
FY1 (Current Year)         28.614740   9.305031  10.452679  22.445381  SPGI.K
FY2 (Next Year)            24.878866   8.670922   9.707771  19.927189  SPGI.K
LTM (Last Twelve Months)   41.894100  16.040966  17.544901  29.514680  MSCI.K
FY1 (Current Year)         35.590509  14.902804  16.300030  27.158588  MSCI.K
FY2 (Next Year)            31.137509  13.476875  14.707360  24.272549  MSCI.K
LTM (Last Twelve Months)   46.782233  13.307658  14.411615  26.061269  VRSK.O
FY1 (Current Year)         39.622001  11.996152  13.153562  24.156888  VRSK.O
FY2 (Next Year)            33.863070  11.185555  12.264758  22.255212  VRSK.O
LTM (Last Twelve Months)   33.800959   7.414860   8.041500  21.447318     FDS
FY1 (Current Year)         26.100929   7.136395   7.822517  20.988267     FDS
FY2 (Next Year)            23.677185   6.669172   7.310373  19.353653     FDS

In [40]:
import pandas as pd

RICs = ['ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K','0388.HK','DB1GnEUR.xbo' ,'MKTX.O']
result_list = []

for RIC in RICs:
    # Retrieve Valuation Ratios into DataFrames per period
    dfLTM, err = ek.get_data(RIC, 'TR.PE;TR.PriceToSalesPerShare;TR.EVToSales;TR.EVToEBITDA', {'Sdate':'0D'})
    dfFY1, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst', {'Period':'FY1'})
    dfFY1_2, err = ek.get_data(RIC, 'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean', {'Period':'FY1', 'Curn':'GBP'})
    dfFY2, err = ek.get_data(RIC, 'TR.PToEPSMeanEst;TR.PToREVMeanEst', {'Period':'FY2'})
    dfFY2_2, err = ek.get_data(RIC, 'TR.EV;TR.RevenueMeanEstimate,TR.EBITDAMean', {'Period':'FY2', 'Curn':'GBP'})

    # Create a dictionary out of results
    dataDict = {
        'P/E': [
            dfLTM.at[0, 'P/E (Daily Time Series Ratio)'],
            dfFY1.at[0, 'Price / EPS (Mean Estimate)'],
            dfFY2.at[0, 'Price / EPS (Mean Estimate)']
        ],
        'P/SALES': [
            dfLTM.at[0, 'Price To Sales Per Share (Daily Time Series Ratio)'],
            dfFY1.at[0, 'Price / Revenue (Mean Estimate)'],
            dfFY2.at[0, 'Price / Revenue (Mean Estimate)']
        ],
        'EV/REVS': [
            dfLTM.at[0, 'Enterprise Value To Sales (Daily Time Series Ratio)'],
            dfFY1_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY1_2.at[0, 'Revenue - Mean Estimate'],
            dfFY2_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY2_2.at[0, 'Revenue - Mean Estimate']
        ],
        'EV/EBITDA': [
            dfLTM.at[0, 'Enterprise Value To EBITDA (Daily Time Series Ratio)'],
            dfFY1_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY1_2.at[0, 'EBITDA - Mean'],
            dfFY2_2.at[0, 'Enterprise Value (Daily Time Series)'] / dfFY2_2.at[0, 'EBITDA - Mean']
        ]
    }

    # Create Pandas DataFrame for the current RIC
    dfMultiRow = pd.DataFrame(dataDict, index=['LTM (Last Twelve Months)', 'FY1 (Current Year)', 'FY2 (Next Year)'])
    dfMultiRow['Company'] = RIC  # Add a 'Company' column with the company RIC

    result_list.append(dfMultiRow)

# Concatenate the data frames in the result_list into a single DataFrame
result_df = pd.concat(result_list)

# Print the final DataFrame
result_df

,P/E,P/SALES,EV/REVS,EV/EBITDA,Company
LTM (Last Twelve Months),42.347859,6.324541,7.992901,16.077444,ICE
FY1 (Current Year),19.854534,8.047531,10.283642,15.650918,ICE
FY2 (Next Year),18.119767,7.636026,9.757794,14.738566,ICE
LTM (Last Twelve Months),23.652473,4.300518,5.031720,15.978277,NDAQ.O
FY1 (Current Year),20.072650,7.225954,8.508094,15.673651,NDAQ.O
FY2 (Next Year),18.803266,6.862012,8.079576,14.824439,NDAQ.O
LTM (Last Twelve Months),24.256941,1.608484,1.594479,10.311196,EEFT.O
FY1 (Current Year),14.665734,1.456636,1.448802,8.286229,EEFT.O
FY2 (Next Year),12.582399,1.324060,1.316938,7.270135,EEFT.O
LTM (Last Twelve Months),23.067865,12.771891,13.132266,19.581813,CME.O
FY1 (Current Year),20.817857,12.197284,12.681086,18.138422,CME.O
FY2 (Next Year),20.324721,11.782155,12.249491,17.898514,CME.O
LTM (Last Twelve Months),49.556067,3.668608,3.977454,14.057517,CBOE.K
FY1 (Current Year),19.069026,7.717283,8.348211,13.384786,CBOE.K
FY2 (Next Year),18.243458,7.318568,7.916899,12.883180,CBOE.K
LTM (Last Twelve Months),36.504212,24.176597,8.123818,11.978767,0388.HK
FY1 (Current Year),30.105003,17.915831,5.851129,7.631700,0388.HK
FY2 (Next Year),27.827777,16.591193,5.418516,7.053437,0388.HK
LTM (Last Twelve Months),20.410835,5.913257,7.914853,16.839691,DB1GnEUR.xbo
FY1 (Current Year),18.136710,6.558983,9.137979,15.430732,DB1GnEUR.xbo
FY2 (Next Year),17.465710,6.016535,8.382241,14.941708,DB1GnEUR.xbo
LTM (Last Twelve Months),42.300291,14.929198,14.476690,26.826349,MKTX.O
FY1 (Current Year),38.617630,13.766648,13.442353,24.545167,MKTX.O
FY2 (Next Year),33.552249,12.275550,11.986381,21.598126,MKTX.O

## FYO per share metrics

In [45]:
dfFYOShare, err = ek.get_data(RIC ,['TR.TotCashAndShortTermInvestmentsperShare',
'TR.WorkingCapitalperShare','BookValuePerShare','TR.RevenuePerShare','TR.CashFlowtoShrdil',
'TR.FreeOperatingCashFlowperShareAvgDilutedSharesOut','TR.DPSCommonStock'], {'Period':'FY0','curn':'GBP'})
dfFYOShare_2, err =  ek.get_data(RIC ,['TR.TotalDebt','TR.TtlCmnSharesOut'],{'Period':'FY0','curn':'GBP'})
# additionally, calculate total debt
dfFYOShare['Total Debt'] = [dfFYOShare_2.at[0,'Total Debt']/dfFYOShare_2.at[0,'Total Common Shares Outstanding']]
dfFYOShare

,Instrument,Total Cash & ST Invest/Share,Wk Cap/Shr,BOOKVALUEPERSHARE,Revenue Per Share,Cash Flow/Shr (dil.),FOCF/Shr (dil.),DPS - Common Stock Primary Issue,Total Debt
0,MKTX.O,9.457999,<NA>,<NA>,15.774053,6.844354,2.885951,2.31462,0.0

In [44]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS', 'ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K', '0388.HK', 'DB1GnEUR.xbo', 'MKTX.O']
result_list = []

for RIC in RICs:
    dfFYOShare, err = ek.get_data(RIC ,['TR.TotCashAndShortTermInvestmentsperShare',
                                        'TR.WorkingCapitalperShare','BookValuePerShare',
                                        'TR.RevenuePerShare','TR.CashFlowtoShrdil',
                                        'TR.FreeOperatingCashFlowperShareAvgDilutedSharesOut',
                                        'TR.DPSCommonStock'], {'Period':'FY0', 'curn':'GBP'})
    dfFYOShare_2, err = ek.get_data(RIC ,['TR.TotalDebt','TR.TtlCmnSharesOut'],{'Period':'FY0', 'curn':'GBP'})
    
    # Calculate Total Debt per Share
    dfFYOShare['Total Debt'] = dfFYOShare_2.at[0, 'Total Debt'] / dfFYOShare_2.at[0, 'Total Common Shares Outstanding']
    
    result_list.append(dfFYOShare)

# Concatenate the data frames in the result_list into a single DataFrame
debt_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
debt_df

,Instrument,Total Cash & ST Invest/Share,Wk Cap/Shr,BOOKVALUEPERSHARE,Revenue Per Share,Cash Flow/Shr (dil.),FOCF/Shr (dil.),DPS - Common Stock Primary Issue,Total Debt
0,LSEG.L,6.253081,2.384359,<NA>,13.826786,5.0875,2.15,1.07,15.913162
1,MCO,8.388336,7.756616,<NA>,24.472779,7.84579,3.02553,2.31462,33.341266
2,MORN.O,8.068001,-1.395262,<NA>,36.045023,4.597638,2.057954,1.810364,21.592508
3,SPGI.K,3.266398,-0.834188,<NA>,29.019697,11.770354,3.867217,2.744478,27.528199
4,MSCI.K,10.271758,5.142754,<NA>,22.887441,10.061943,6.611561,3.786057,46.645831
5,VRSK.O,0.601147,-7.449414,<NA>,12.987849,6.661409,3.064134,1.025046,19.963958
6,FDS,12.133581,9.771693,<NA>,40.958241,10.74255,8.023021,2.942705,44.835528
7,ICE,2.660364,11.49916,<NA>,14.198929,3.726556,3.269762,1.256508,26.798840
8,NDAQ.O,1.148516,-0.388444,<NA>,10.337742,2.293033,1.944346,0.644787,9.078827
9,EEFT.O,27.324789,22.774424,<NA>,51.932872,5.668464,9.838551,<NA>,26.750585
10,CME.O,6.485708,3.203126,<NA>,11.552078,6.938289,0.765935,3.3066,8.093950
11,CBOE.K,4.091462,0.614812,<NA>,30.668173,3.112914,2.958741,1.620234,13.591392
12,0388.HK,8.906892,2.465463,<NA>,1.413947,0.964731,0.334575,0.755782,0.186684
13,DB1GnEUR.xbo,97.104571,11.972258,<NA>,25.644431,9.118746,7.553115,3.184867,101.438466
14,MKTX.O,9.457999,<NA>,<NA>,15.774053,6.844354,2.885951,2.31462,0.000000

# by segment

In [47]:
dfSalesByRegion, err = ek.get_data(RIC, 'TR.BGS.GeoTotalRevenue.segmentName;TR.BGS.GeoTotalRevenue()',{'Scale':'6','curn':'GBP'})
dfSalesByRegion

  Instrument        Segment Name  Geographic Total Revenues (Calculated)
0     MKTX.O              Europe                               98.463935
1     MKTX.O                Asia                               14.262192
2     MKTX.O            Americas                              481.056568
3     MKTX.O       Segment Total                              593.782695
4     MKTX.O  Consolidated Total                              593.782695

In [49]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS', 'ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K', '0388.HK', 'DB1GnEUR.xbo', 'MKTX.O']
result_list = []

for RIC in RICs:
    dfSalesByRegion, err = ek.get_data(RIC, 'TR.BGS.GeoTotalRevenue.segmentName;TR.BGS.GeoTotalRevenue()', {'Scale':'6', 'curn':'GBP'})
    result_list.append(dfSalesByRegion)

# Concatenate the data frames in the result_list into a single DataFrame
result_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
result_df

,Instrument,Segment Name,Geographic Total Revenues (Calculated),Company
0,LSEG.L,United Kingdom,2292.0,LSEG.L
1,LSEG.L,USA,2685.0,LSEG.L
2,LSEG.L,Asia,963.0,LSEG.L
3,LSEG.L,EU Countries,982.0,LSEG.L
4,LSEG.L,Other,532.0,LSEG.L
...,...,...,...,...
88,MKTX.O,Europe,98.463935,MKTX.O
89,MKTX.O,Asia,14.262192,MKTX.O
90,MKTX.O,Americas,481.056568,MKTX.O
91,MKTX.O,Segment Total,593.782695,MKTX.O
92,MKTX.O,Consolidated Total,593.782695,MKTX.O

## revenue sales by business line

In [4]:
RIC = ['LSEG.L']

In [5]:
dfSalesByBus, err = ek.get_data(RIC, 'TR.BGS.BusTotalRevenue.segmentName;TR.BGS.BusTotalRevenue()',{'Scale':'6','curn':'GBP'})
dfSalesByBus

  Instrument         Segment Name  Business Total Revenues (Calculated)
0     LSEG.L      Capital Markets                                  1459
1     LSEG.L                Other                                    34
2     LSEG.L  Post trade Services                                   991
3     LSEG.L   Data and Analytics                                  5259
4     LSEG.L        Segment Total                                  7743
5     LSEG.L   Consolidated Total                                  7743

In [7]:
import pandas as pd

RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS']
result_list = []

for RIC in RICs:
    dfSalesByBus, err = ek.get_data(RIC, 'TR.BGS.BusTotalRevenue.segmentName;TR.BGS.BusTotalRevenue()',{'Scale':'6','curn':'GBP'})
    result_list.append(dfSalesByBus)


# Concatenate the data frames in the result_list into a single DataFrame
business_segment_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
business_segment_df

,Instrument,Segment Name,Business Total Revenues (Calculated)
0,LSEG.L,Capital Markets,1459.0
1,LSEG.L,Other,34.0
2,LSEG.L,Post trade Services,991.0
3,LSEG.L,Data and Analytics,5259.0
4,LSEG.L,Segment Total,7743.0
5,LSEG.L,Consolidated Total,7743.0
6,MCO,MA,2288.99385
7,MCO,MIS,2231.12835
8,MCO,Segment Total,4520.1222
9,MCO,Intersegment Royalty,143.8371
10,MCO,Eliminations,-150.4503
11,MCO,Intersegment MA,6.6132
12,MCO,Consolidated Total,4520.1222
13,MORN.O,License-based,1100.849805
14,MORN.O,Asset-based,222.69951
15,MORN.O,Transaction-based,222.782175
16,MORN.O,Segment Total,1546.33149
17,MORN.O,Consolidated Total,1546.33149
18,SPGI.K,Indices,1106.88435
19,SPGI.K,Market Intelligence,3150.36315
20,SPGI.K,Ratings,2521.2825
21,SPGI.K,Commodity Insights,1392.90525
22,SPGI.K,Mobility,944.0343
23,SPGI.K,Engineering Solutions,267.00795
24,SPGI.K,Segment Total,9382.4775
25,SPGI.K,Inter segment eliminations,-139.70385
26,SPGI.K,Consolidated Total,9242.77365
27,MSCI.K,Index,1077.29772
28,MSCI.K,Analytics,476.238852
29,MSCI.K,All Other,116.533677
30,MSCI.K,ESG and Climate,188.733288
31,MSCI.K,Segment Total,1858.803537
32,MSCI.K,Consolidated Total,1858.803537
33,VRSK.O,Insurance,2014.54605
34,VRSK.O,Energy and Specialized Markets,18.51696
35,VRSK.O,Financial Services,31.08204
36,VRSK.O,Segment Total,2064.14505
37,VRSK.O,Consolidated Total,2064.14505
38,FDS,United states,1010.110096
39,FDS,Asia Pacific,159.755313
40,FDS,EMEA,416.693023
41,FDS,Segment Total,1586.558432
42,FDS,Consolidated Total,1586.558432

In [9]:
import pandas as pd

RICs = ['ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K', '0388.HK', 'DB1GnEUR.xbo', 'MKTX.O']
result_list = []

for RIC in RICs:
    dfSalesByBus, err = ek.get_data(RIC, 'TR.BGS.BusTotalRevenue.segmentName;TR.BGS.BusTotalRevenue()',{'Scale':'6','curn':'GBP'})
    result_list.append(dfSalesByBus)


# Concatenate the data frames in the result_list into a single DataFrame
business_segment_df = pd.concat(result_list, ignore_index=True)

# Print the final DataFrame
business_segment_df

,Instrument,Segment Name,Business Total Revenues (Calculated)
0,ICE,Exchanges,5302.95975
1,ICE,Fixed Income and Data services,1729.3518
2,ICE,Mortgage Technology,933.28785
3,ICE,Segment Total,7965.5994
4,ICE,Consolidated Total,7965.5994
5,NDAQ.O,Market Platforms,3492.59625
6,NDAQ.O,Capital Access Platforms,1392.0786
7,NDAQ.O,Anti financial crime,252.9549
8,NDAQ.O,Segment Total,5137.62975
9,NDAQ.O,Corporate and Eliminations,9.09315
10,NDAQ.O,Consolidated Total,5146.7229
11,EEFT.O,Money Transfer,1193.933902
12,EEFT.O,EFT Processing,763.996543
13,EEFT.O,Epay,825.00414
14,EEFT.O,Segment Total,2782.934585
15,EEFT.O,"Corporate Services, Eliminations and Other",-6.431337
16,EEFT.O,Consolidated Total,2776.503248
17,CME.O,<NA>,<NA>
18,CBOE.K,Options,2133.58365
19,CBOE.K,North American Equities,2203.35291
20,CBOE.K,Futures,101.264625
21,CBOE.K,European and Asia Pacific,471.68649
22,CBOE.K,Global FX,56.956185
23,CBOE.K,Segment Total,4966.84386
24,CBOE.K,Corporate items and eliminations,0.247995
25,CBOE.K,Consolidated Total,4967.091855
26,0388.HK,Cash Market,535.081087
27,0388.HK,Derivatives Market,336.185466
28,0388.HK,Post-Trade,658.080933
29,0388.HK,Commodities,141.629771
30,0388.HK,Platform and Infrastructure,120.565254
31,0388.HK,Segment Total,1791.542512
32,0388.HK,Corporate Items,0.952667
33,0388.HK,Consolidated Total,1792.495179
34,DB1GnEUR.xbo,Market Data & Analytics,576.549449
35,DB1GnEUR.xbo,Trading & Clearing,1934.89535
36,DB1GnEUR.xbo,Fund Services,332.553227
37,DB1GnEUR.xbo,Securities Services,993.41319
38,DB1GnEUR.xbo,Segment Total,3837.411216
39,DB1GnEUR.xbo,Consolidated Total,3837.411216
40,MKTX.O,<NA>,<NA>

## abreviated financials

In [15]:
dfFin, err = ek.get_data(RIC, 'TR.TotalRevenue;TR.GrossProfit;TR.EBITDA;TR.EBIT;TR.NetIncomeBeforeTaxes;TR.NetIncome;TR.TtlCmnSharesOut',{'Period':'FY0','Scale':'6','curn':'GBP'})
dfFin2, err = ek.get_data(RIC, 'TR.TotalRevenue;TR.GrossProfit;TR.EBITDA;TR.EBIT;TR.NetIncomeBeforeTaxes;TR.NetIncome;TR.TtlCmnSharesOut',{'Period':'FY-1','Scale':'6','curn':'GBP'})

# results as simple lists 
listFin = dfFin.iloc[0].tolist() #select row 0, all columns
listFin2 = dfFin2.iloc[0].tolist()

# results as single dictionary
dataDict2 = {'FY0': listFin, 'FY-1': listFin2 }

# Pandas DataFrame from dictionary 
dfIncome = pd.DataFrame(dataDict2, index = dfFin.columns)
dfIncome['Instrument'] = RIC
dfIncome

                                                   FY0        FY-1 Instrument
Instrument                                      MKTX.O      MKTX.O     MKTX.O
Total Revenue                               593.782695  516.629632     MKTX.O
Gross Profit                                550.000004  485.234975     MKTX.O
EBITDA                                      321.006381    288.7726     MKTX.O
EBIT                                        270.212045   249.26725     MKTX.O
Net Income Before Taxes                     279.645775  246.819185     MKTX.O
Net Income Incl Extra Before Distributions   206.84767  190.617915     MKTX.O
Total Common Shares Outstanding               37.64815    37.91896     MKTX.O

In [27]:
import pandas as pd

def get_income_data(RICs):
    result_list = []
    for RIC in RICs:
        # Retrieve Financial Data for FY0
        dfFin, err = ek.get_data(RIC, 'TR.TotalRevenue;TR.GrossProfit;TR.EBITDA;TR.EBIT;TR.NetIncomeBeforeTaxes;TR.NetIncome;TR.TtlCmnSharesOut',{'Period':'FY0','Scale':'6','curn':'GBP'})

        # Retrieve Financial Data for FY-1
        dfFin2, err = ek.get_data(RIC, 'TR.TotalRevenue;TR.GrossProfit;TR.EBITDA;TR.EBIT;TR.NetIncomeBeforeTaxes;TR.NetIncome;TR.TtlCmnSharesOut',{'Period':'FY-1','Scale':'6','curn':'GBP'})

        # Convert the selected rows to lists
        listFin = dfFin.iloc[0].tolist()
        listFin2 = dfFin2.iloc[0].tolist()

        # Create a dictionary with the lists
        dataDict2 = {'FY0': listFin, 'FY-1': listFin2 }

        # Create a DataFrame from the dictionary and set the index to column names
        dfIncome = pd.DataFrame(dataDict2, index=dfFin.columns)

        # Add a column called 'instrument' with the RIC value
        dfIncome['instrument'] = RIC

        result_list.append(dfIncome)
    
    # Concatenate the data frames in the result_list into a single DataFrame
    result_df = pd.concat(result_list)
    
    return result_df

# Assuming you have a list of RICs
RICs = ['LSEG.L', 'MCO']

# Call the function to get the financial data
income_data_1 = get_income_data(RICs)

# Print the final DataFrame
income_data_1

                                                   FY0        FY-1 instrument
Instrument                                      LSEG.L      LSEG.L     LSEG.L
Total Revenue                                     7743        6535     LSEG.L
Gross Profit                                      6679        5676     LSEG.L
EBITDA                                            3540        2941     LSEG.L
EBIT                                              1670        1406     LSEG.L
Net Income Before Taxes                           1241         894     LSEG.L
Net Income Incl Extra Before Distributions        1302        3129     LSEG.L
Total Common Shares Outstanding              554.44668   557.36085     LSEG.L
Instrument                                         MCO         MCO        MCO
Total Revenue                                4520.1222   4596.0347        MCO
Gross Profit                                3186.73575  3386.04615        MCO
EBITDA                                       1924.4412  2292.10415        MCO
EBIT                                        1650.82005   2102.1426        MCO
Net Income Before Taxes                       1454.904  2036.35825        MCO
Net Income Incl Extra Before Distributions   1135.8171   1636.4781        MCO
Total Common Shares Outstanding              183.19991   185.63979        MCO

In [29]:
# Assuming you have a list of RICs
RICs = ['MORN.O', 'SPGI.K']
# Call the function to get the financial data
income_data_2 = get_income_data(RICs)

In [30]:
# Assuming you have a list of RICs
RICs = ['MSCI.K', 'VRSK.O', 'FDS']

# Call the function to get the financial data
income_data_3 = get_income_data(RICs)

In [32]:
# Assuming you have a list of RICs
RICs = ['ICE', 'NDAQ.O', 'EEFT.O']

# Call the function to get the financial data
income_data_4 = get_income_data(RICs)

In [35]:
# Assuming you have a list of RICs
RICs = ['CME.O','CBOE.K']

# Call the function to get the financial data
income_data_5 = get_income_data(RICs)

In [36]:
# Assuming you have a list of RICs
RICs = ['0388.HK','DB1GnEUR.xbo', 'MKTX.O']

# Call the function to get the financial data
income_data_6 = get_income_data(RICs)

In [39]:
data_frames = [income_data_1, income_data_2, income_data_3, income_data_4, income_data_5, income_data_6]
Income_data = pd.concat(data_frames)

Income_data

                                                   FY0        FY-1 instrument
Instrument                                      LSEG.L      LSEG.L     LSEG.L
Total Revenue                                     7743        6535     LSEG.L
Gross Profit                                      6679        5676     LSEG.L
EBITDA                                            3540        2941     LSEG.L
EBIT                                              1670        1406     LSEG.L
...                                                ...         ...        ...
EBITDA                                      321.006381    288.7726     MKTX.O
EBIT                                        270.212045   249.26725     MKTX.O
Net Income Before Taxes                     279.645775  246.819185     MKTX.O
Net Income Incl Extra Before Distributions   206.84767  190.617915     MKTX.O
Total Common Shares Outstanding               37.64815    37.91896     MKTX.O

[120 rows x 3 columns]

In [ ]:
## balance data 
import pandas as pd
import time

def get_balance_data(RICs):
    result_list = []
    for RIC in RICs:
        # Retrieve Balance Sheet Data for FY0
        dfBal, err = ek.get_data(RIC, 'TR.CashAndSTInvestments;TR.PropertyPlantEquipmentTotalNet;TR.TotalAssetsReported;TR.CurrentLiabilities;TR.TotalLongTermDebt;TR.TotalLiabilities;TR.TotalEquity',{'Period':'FY0','Scale':6,'Curn':'GBP'})
        
        # Add a time delay of 1 second between each loop iteration
        time.sleep(1)

        # Retrieve Balance Sheet Data for FY-1
        dfBal2, err = ek.get_data(RIC, 'TR.CashAndSTInvestments;TR.PropertyPlantEquipmentTotalNet;TR.TotalAssetsReported;TR.CurrentLiabilities;TR.TotalLongTermDebt;TR.TotalLiabilities;TR.TotalEquity',{'Period':'FY-1','Scale':6,'Curn':'GBP'})
        
        # Add a time delay of 1 second between each loop iteration
        time.sleep(10)

        # Create a dictionary with the data
        dataDict3 = {'FY0': list(dfBal.iloc[0, :]), 'FY-1': list(dfBal2.iloc[0, :]) }

        # Create a DataFrame from the dictionary and set the index to column names
        dfBalance = pd.DataFrame(dataDict3, index=dfBal.columns)

        # Add a column called 'instrument' with the RIC value
        dfBalance['instrument'] = RIC

        result_list.append(dfBalance)
    
    # Concatenate the data frames in the result_list into a single DataFrame
    result_df = pd.concat(result_list)
    
    return result_df

# Assuming you have a list of RICs
RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K']

# Call the function to get the balance sheet data
balance_data = get_balance_data(RICs)

# Print the final DataFrame
balance_data

In [ ]:
# Assuming you have a list of RICs
RICs = ['LSEG.L', 'MCO', 'MORN.O', 'SPGI.K', 'MSCI.K']

# Call the function to get the balance sheet data
balance_data_2 = get_balance_data(RICs)

# Print the final DataFrame
balance_data_2

### cf statements

In [ ]:
dfCash, err = ek.get_data(RIC, 'TR.NetIncomeStartingLine',{'Period':'FY0','Scale':'6','curn':df.at[0,'Currency']})
dfCash_2, err = ek.get_data(RIC, 'TR.NetIncomeStartingLine,TR.DepreciationDepletion,TR.Amortization,TR.NonCashItems,TR.DeferredTaxes',{'Period':'FY0','Scale':'6','Curn':df.at[0,'Currency']})
dfCash_3, err = ek.get_data(RIC, 'TR.CashFromOperatingAct;TR.CapitalExpenditures;TR.CashFromInvestingAct;TR.CashDividendsPaid*-1;TR.CashFromFinancingAct',{'Period':'FY0','Scale':6,'Curn':df.at[0,'Currency']})
#insert as columns, entincome and  sum of cash from operations
dfCash_3['Net Income'] = [dfCash.at[0,'Net Income/Starting Line, Cumulative']]
dfCash_3['Cash From Operations'] = [sum(list(dfCash_2.iloc[0, 1:]))]

dfCash2, err = ek.get_data(RIC, 'TR.NetIncomeStartingLine',{'Period':'FY-1','Scale':'6','curn':df.at[0,'Currency']})
dfCash2_2, err = ek.get_data(RIC, 'TR.NetIncomeStartingLine,TR.DepreciationDepletion,TR.Amortization,TR.NonCashItems,TR.DeferredTaxes',{'Period':'FY-1','Scale':'6','Curn':df.at[0,'Currency']})
dfCash2_3, err = ek.get_data(RIC, 'TR.CashFromOperatingAct;TR.CapitalExpenditures;TR.CashFromInvestingAct;TR.CashDividendsPaid*-1;TR.CashFromFinancingAct',{'Period':'FY-1','Scale':6,'Curn':df.at[0,'Currency']})
#insert as columns, entincome and  sum of cash from operations
dfCash2_3['Net Income'] = [dfCash2.at[0,'Net Income/Starting Line, Cumulative']]
dfCash2_3['Cash From Operations'] = [sum(list(dfCash2_2.iloc[0, 1:]))]

#DEBUG display(dfCash_3,dfCash2_3)

# results as simple lists
listCash = dfCash_3.iloc[0, :].tolist()
listCash2 = dfCash2_3.iloc[0, :].tolist()


# results as single dictionary
dataDict3 = {'FY0': listCash, 'FY-1': listCash2 }
#dataDict3

# Pandas DataFrame from dictionary 
dfCashFlow = pd.DataFrame(dataDict3, index = dfCash_3.columns) 
dfCashFlow